<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/homenavbar.ejs') %>
            <div class="container">
                <div class="jumbotron">
                    <h1 class="display-4">Bem vindo ao MyBlog!</h1>
                    <p class="lead">Notícias atualizadas do mundo da TI</p>
                    <hr class="my-4">
                    <p>Fique por dentro de tudo que acontece em tempo real!</p>
                </div>

                <% articles.forEach(article=> { %>
                    <div class="card">
                        <div class="card-header">
                            <h2>
                                <%= article.title %>
                            </h2>
                        </div>
                        <div class="card-body">
                            <a href="/<%= article.slug %> " class="btn btn-primary">Ler artigo</a>
                        </div>
                    </div>
                    <br />
                    <% }) %>

                        <div class="row">
                            <div class="col col-12">
                                <a href="/articles/page/2" class="btn btn-dark" style="float: right;">Next ></a>
                            </div>
                        </div>
                        <hr>

            </div>
    </body>

    <% include ('./partials/footer.ejs') %>